<main>
  <div class="mb-4 navigation">
    <div class="d-flex flex-row navigation-items mx-3 my-2">
      <a class="d-flex flex-column" routerLinkActive="active-item" routerLink="/">Home</a>
      <a class="d-flex flex-column" routerLinkActive="active-item" routerLink="/registration">Rejestracja</a>
      <a class="d-flex flex-column" routerLinkActive="active-item" routerLink="/login">Logowanie</a>
      <!-- <a class="d-flex flex-column" *ngIf="isLoggedIn()" routerLinkActive="active-item" routerLink="/Logout" (click)="this.authService.logout()">Wyloguj</a> -->
    </div>
  </div>
</main>

<router-outlet />


